.card{
    display: flex;
    border-radius: 40px;
    margin: 10px ;
    max-height: 215px;
}

.card-image{
    height: 185px;
    width: 200px;
    background-color: beige;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
}

.card-title{
    display: flex;
    justify-content: center;
    align-items: center;
   
}