@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);

 /* #root{
  width:100%;
  height:100vh;
  background-color:#e8a185 ;
  
} */

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: url(./images/Login\ Customizable\ Flat\ Illustrations\ _\ Rafiki\ Style.png) 300px; 
  background-repeat: no-repeat;
  background-size: contain;
  }

.Auth-form {
  
  background-color: white;
  width: 420px;
  position: relative;
  left:500px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  
  box-shadow: 8px 8px 8px   #949ba7;
  
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.link-primary:hover{
  cursor:pointer;

}

.Navbar{
  display:block;
   height:100%;
  position: fixed;
  background-color:#f2e9e0;
  width:240px; 
  
  
  /* border-top-left-radius: 50px;
  border-bottom-left-radius: 50px; */
 
}


.Navbar-container{
  height:40px;
  
  border-radius: 50px;;
  margin-top:15px;
  margin-bottom:15px;
   margin-left:20px;
  /* padding-right:10px;  */

}


.Navbar-icons{
  
  
  color:#4e4f53;
  
}

.icontext{
  color:#968d84 ;
  font-family:'Times New Roman', Times, serif;
  text-decoration: none;
  margin-right: 10px;;
}

.icontext :hover{
  cursor: pointer;
  color:#463f37
}

.Home{
  background: url(./images/Time\ and\ attendance\ tracking\ system.jpeg) 350px;
  width:100%;
  background-size: contain;
  height:100vh;
  background-repeat: no-repeat;
  

}


.toggle-container{
  
  position: absolute;
  left:94%;
  
}

.btn-custom{
  background-color: rgb(100, 167, 230);
}
.btn-custom:hover{
  background-color: rgb(177, 117, 185);
}

@media(max-width:1199px){
  
  /* .cards-container{
    display:block !important;
    position: static;
  } */
  .Auth-form-container{
    background-image: none;
    height:40rem;
    margin-left: 35%;
    margin-right:45%;
    width:300px;
  }
  .Auth-form{
    padding-left: 50px;
    padding-right: 50px;
    width:100%;
    padding-top: 0px;
    position:relative;
  
    left:0px
  }
  .Navbar{
    left:-195px;
  }
  .Container-1{
    margin-left:50px !important;
  }
  .Subjects-Name{
    padding-left: 0px !important;
    margin-left: 60px;
  }
  
  .Navbar-icons{
    padding-left: 190px;
   
   
  }
  .Navbar-icons-text{
    margin-top: -150px;
   
   
  }
  #home{
    background-position: 0%;
  }
  .profile-container{
    width:40rem !important;
    left:50px !important;
  }
  .dp{
    width: 221px !important;
  }
  .profile{
    height:400px;
  }
  .timetable-input-container,.subjectList{
    margin-left:35px !important;
  }
  .form-2{
    margin-top: 50px;
    margin-left: 40px !important;
  }
  .rows{
    width:70px !important;
  }
  
}

.section-title{
  
  padding-left: 100px;
  padding-top:2rem;
  padding-bottom:3rem;
  
  display: block;
  height:10rem;
  width:100%;
}

.underline{
  width: 10%;
  height:10px;
  position: relative;
  background-color:#ce9dd5;
  left:2%;
}

.author {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  color: black;
}
 .author h5 {
  opacity: 0.8;
  margin: 0;
  font-weight: 800;
}
 
.about{
  padding-top: 30px;
  margin-left:200px;
  background-color: white;
}

.about-text{
 padding-left:100px;
  
  font-family: 'Raleway', Arial, sans-serif;
}



.logo{
  width:100px;
  height:100px;
  position:relative;
  left:95px;
  margin-top: 40px;
  margin-bottom: 10px;
  border-radius: 100%;
  
}




.timetable-input-container {
  
 
  margin-left:235px;
  margin-right: 10px;
  
  
 
  
}

/* Style the day container */
.day-container {
  color:black;
  padding-top:40px;
  display: flex;
  
  margin-bottom: 60px;
}

/* Style the arrow buttons */
.arrow-button {
  background-color: white;
  border: none;
  color: black;
  font-size: 24px;
  margin-right: 40px;
  margin-left: 40px;
  cursor: pointer;
 
}

.heading{
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:black;
  height:60px;
  padding-top:50px
}



.daysname{
  width:200px;
  text-align: center;
  /* padding-right: 30px;
  padding-left: 30px; */
}

.username{
  padding-bottom:20px;
  padding-left:20px;
  color:#1f1810;
  text-align: center;
}



.dashboard-container{
  display: block;
  width:100vh;
  
}
.Container-1{
 
  display:flex;
 
  flex-wrap: wrap;
  margin-left: 230px;;
  
}

.Todays-timetable{
   background-color: white;
  margin-bottom: 5px;
  width: 270px;;
  
  
 }
  
.Todays-timetable-heading{
  
  padding-top: 20px;;
  padding-left: 50px;;
 
  
}

.Classes{
  padding-left: 100px;;
  padding-right: 100px;;
  padding-top: 40px;;
  
}





.Subjects-heading{
  text-align: center;
  padding-top:30px;
}
.Subjects-Name{
  display:flex ;
  padding-left: 235px;
  width:100%;
 
  flex-wrap: wrap;
 
}
.subject-details{
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  margin:23px;
  border-radius: 30px;
  background-color: white;
  /* display: flex; */
}

.subject-logo{
  
  border-radius: 100%;
  
  width:30px;
  height:30px;
    margin-left:55px;
    position:relative;
    bottom:10px;
    background-color:#d95e7e;
    

}
.img{
  color:white;
  padding-left: 7px;
  padding-top: 6px;
  
}
.name{
  text-align: center;
  position: relative;
  bottom:10px;
  font-weight: 700;
 
}
.attendance{
  position: relative;
  bottom:17px;
  text-align: center;
  color:#a57f64;

}

.progress-bar {
  margin-left: 20px;
  margin-right: 20px;
  
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: 
    radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(hotpink 75%, pink 0);    
}

.progress-bar::before {
  content: attr(data-progress);
}

.greetings{
  font-size: xx-large;
  font-weight: bolder;

}

.timeline {
  position: relative;
  padding: 1px 0;
  
}

.timeline:before {
  content: '';
  position: absolute;
  top: 0;
  left: 23px;
  width: 2px;
  height: 100%;
  background: #000;
}

.timeline-item {
  position: relative;
  padding-top: 5px;
  padding-left: 40px;
  margin-bottom: 10px;
}

.timeline-item-content {
  position: relative;
}

.timeline-item h3 {
  margin-top: 0;
}

.timeline-item-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: -20px;
  width: 10px;
  height: 10px;
  background: #000;
  border-radius: 50%;
}

.attendance-updating{
  display: flex;
  margin-left:6px;
}
.attendance-container{
  margin:5px;
}
.attendance-container1{
  margin:10px;
}
.attendance-update1{
  width:20px;
  height:20px;
  background-color:#6bbeb6;
  /* margin:10px; */
  border-radius: 100%;;
}
.attendance-update2{
  width:20px;
  height:20px;
  background-color:#e5554e;
  /* margin:10px; */
  border-radius: 100%;
  /* margin-left:60px;
  margin-bottom:10px */
}
.changeAttendance1{
  position: relative;
  left:2px;
  top:2px;
   display: flex;
   color: white;
}
.changeAttendance2{
  position: relative;
  left:4px;
  bottom: 2px;
  /* top:2px; */
   display: flex;
   color: white;
}
.changeAttendance2:hover{
  cursor: pointer;
}
.changeAttendance1:hover{
  cursor: pointer;
}
  
 .input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}











.time-picker {
  display: inline-block;
  position: relative;
  width: 150px;
}

.time-picker input[type="time"] {
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.time-picker::after {
 
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  pointer-events: none;
}


.form {
  background: rgb(236, 236, 236);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 20px;
 
  padding: 20px;
  display: block;
  margin-left:100px;
 width:280px ;
 
  margin-top: 30px;
  min-height: 350px;
  max-height:350px;
  
  
}



.subtitle {
  color: black;
  font-family: sans-serif;
  font-size: 19px;
  font-weight: 600;
 
}

.input-container {
  height: 30px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: whitesmoke;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: black;
  font-size: 18px;
  height: 100%;
  outline: 0;
  /* padding: 4px 20px 0; */
  width: 100%;
  padding-left: 9px;
}


.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}

.mydetails{
  /* margin-left:100px; */
  min-width: 270px !important;
}
.subjectList{
  
  margin-right:50px;
  
  
  
}
.header1{
  display:flex;
 
  
}

.rows{
  width:130px;
  height:58px;
  text-align: center;
  padding: 10px;;
  border:1px solid black
}
.form-2{
  background: rgb(236, 236, 236);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  /* border-radius: 20px; */
  padding: 20px;
  /* margin-left:300px; */
  display: block;
  margin-left: 140px;
  
  
 
  
}

.container{
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
 
}
.NoSubjects{
  margin-left:14rem;
  margin-right:50px;
 
 position: relative;
  
  height:345px;
  border: 1px solid black;
 
}

.text{
  font-weight: bolder;
  padding-top: 10px;
  text-align: center;
}
img{
 max-width: 260px;
}
.NoSubjectsToday{
  border: 1px solid black;
  margin-right:50px;
  margin-left:50px;
  margin-top:20px;
  width:270px
}

.profile-container{
  width:55rem;
  height:83vh;
  background-color:whitesmoke;
  position: relative;
  left:300px;
  top:50px;
  margin-right:30rem;
}
.section{
  width:100%;
  height:30px;;
 padding: 10px;;
  display: flex;
  font-size:x-large;
 
}
.line{
  width:20px;
  height:6px;
  background-color: blue;
  margin-top: 15px;
  margin-left: 30px;
  margin-right: 10px;
  border-radius: 40%;
}

.profile{
  display: flex;
  margin-left:40px;
  margin-right:40px;
  margin-top:20px;
  background-color: white;
}

.profilepic{
  margin:50px;
  width:40%;
  height:50vh;
  border: 1px solid black;
  min-height: 350px;;
}

.profile-details{
  padding:70px;
}

.detail{
  padding:10px;
  font-weight: 700;
}

.detail-ans{
  color: rgb(114, 95, 95);
  font-weight: 400;
}

.form-profile{
  background: white;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  padding-left:30px ;
  padding-right:30px ;
  margin:50px;
  height:50vh;
  min-height: 350px;;
}

.but1{
  margin-right:10px;
  border-radius: 0;
  position: relative;
  background-color: blue;
  bottom:0
}
.but2{
  background-color: blue;
  margin-left:10px;
  border-radius: 0;
}

/* .submit :hover{
  color:purple !important;
  cursor: pointer; 
}
*/

.dp{
  height:290px;
  
  width:320px;
  
}

.heading-input{
  padding-top:60px;
  padding-left:270px;
  width:55rem;
}

.disable {
  pointer-events: none;
  opacity: 0.5;
  /* Add other styles for disabled buttons */
}
.noEvents{
  pointer-events: none;
}

.calendar {
  margin-top:10px;
  margin-left: -10px;;
  width: 250px;
  background-color: #f5f5f5;
  padding: 5px;
  font-family: Arial, sans-serif;
}

.header {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.days {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}


.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
}
.info-info{
  padding-left: 50px;
  font-weight: 500;
  margin-bottom: 0;
  
}
.day {
  width: 30px;
  text-align: center;
  font-weight: bold;

  border: 1px solid #ccc;
  padding: 2px;
  
  position: relative;
}



.attended {
  background-color: #c6e0b4;
  /* display: flex;; */
}

.dot-container{
  display:flex;
}

.dot {
  align-self:vertical;
  margin-left:1px;
  /* padding-right:1px; */
  
  height: 6px;
  width: 6px;
  background-color: #51a351;
  border-radius: 100%;
  
}

.calender-button{
  border: none;
  background-color: #c6e0b4;
}

.reset{
  border-radius: 100%;
  width:21px;
  height:21px;
  background-color: #06b;
  /* position: relative;
  top:11px;
  left:20px; */
  border-radius: 100%;;
}

.resetattendance{
  color:white;
  position: relative;
  left:2px;
  bottom:1.75px;
}

.deleteSubject{
  /* position: relative;
  left: 35px;
  top:12px; */
  border-radius: 100%;
  width:22px;
  height:22px;
  background-color: red;
  color:white;
}
.deleteSubject :hover{
  cursor:pointer
}

.delete{
  position:relative;
  left:3.5px;
  bottom:1px;
}

.delete :hover{
  cursor:pointer
}